/* CSS for Library App page 2 */

html {
    background-color: #3f3b51;
    font-family: 'Quicksand', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    margin: 50px;
}

.container-div {
    height: 800px;
    width: 300px;
    border-radius:40px;
    /* background-color: #1f1d2c; */
    background-color: #231f20;
    
    display: flex;
    justify-content: center;
    padding: 70px;
    box-shadow: 5px 20px 25px #00000050;
}

.welcome-img-div {
    display: flex;
    justify-content: center;
}

.welcome-img-div img{
    width: 130%;
    border-radius:20px;
    /* margin-top: 50px; */
}

h1 {
    color: rgb(255, 250, 219);
    text-align: center;
    padding-top: 30px;
    font-size: 50px;
}

p {
    color: rgba(255, 250, 219, 0.548);
    text-align: center;
    line-height: 40px;
    font-size: 18px;
}

.get-started-div {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#get-started-button {
    font-family: 'Quicksand', sans-serif;
    border: none;
    border-radius: 40px;
    background-color: rgb(241, 172, 76);
    padding: 25px 60px 25px 60px;
    font-size: 28px;
    font-weight: 400;
    color: rgb(22, 22, 22);
}

#get-started-button:hover {
    background-color: rgb(255, 203, 131);
}


/* .page-2 {
    display: none;
} */