/* CSS for Library App Page 1 */

html {
    background-color: #3f3b51;
    font-family: 'Quicksand', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

body {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.container-div {
    height: 600px;
    width: 300px;
    border-radius:40px;
    background-color: #231f20;
    display: flex;
    justify-content: center;
    padding: 20px 70px;
    box-shadow: 5px 20px 25px #00000050;
}

.welcome-img-div {
    display: flex;
    justify-content: center;
}

.welcome-img-div img{
    width: 300px;
}

h1 {
    color: rgb(255, 250, 219);
    text-align: center;
    font-size: 40px;
}

p {
    color: rgba(255, 250, 219, 0.548);
    text-align: center;
    line-height: 20px;
    font-size: 14px;
}

.get-started-div {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#get-started-button {
    font-family: 'Quicksand', sans-serif;
    border: none;
    border-radius: 40px;
    background-color: rgb(241, 172, 76);
    padding: 15px 30px 15px 30px;
    font-size: 18px;
    font-weight: 400;
    color: rgb(22, 22, 22);
}

#get-started-button:hover {
    background-color: rgb(255, 203, 131);
}

