/* CSS for Library App */

html {
    background-color: #3f3b51;
    font-family: 'Quicksand', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    margin: 50px;
}

.container-div {
    height: 75vh;
    width: 20vw;
    border-radius:40px;
    background-color: #1f1d2c;
    display: flex;
    justify-content: center;
    padding: 50px;
    box-shadow: 5px 30px 35px #00000070;
}

.welcome-img-div img{
    width: 20vw;
    border-radius:20px;
    margin-top: 50px;
}

h1 {
    color: rgb(241, 241, 241);
    text-align: center;
    padding-top: 100px;
}

p {
    color: rgba(240, 248, 255, 0.603);
    text-align: center;
    line-height: 40px;
}

.get-started-div {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.get-started-div button {
    font-family: 'Quicksand', sans-serif;
    border: none;
    border-radius: 40px;
    background-color: rgb(47, 136, 255);
    padding: 25px 70px 25px 70px;
    font-size: 24px;
    color: rgba(255, 255, 255, 0.89);
}

.get-started-div button:hover {
    background-color: rgb(0, 96, 221);
}