/* CSS for Page_2 Dark theme */

html {
    background-color: #3f3b51;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

body {
    display: flex;
    justify-content: center;
   
}


.container-div {
    width: 90vw;
    border-radius:40px;
    background-color: #231f20;
    padding: 20px 70px;
    box-shadow: 5px 20px 25px #00000050;
}

.page-2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
      "heading-div heading-div heading-div"
      "filter-div filter-div filter-div"
      "books-div books-div books-div"
      ". add-book-div ."
      ;
}



h1 {
    color: rgb(255, 250, 219);
    text-align: center;
    font-size: 40px;
}

h2 {
    color: rgb(255, 250, 219);
    text-align: center;
    font-size: 30px;
}

h3 {
    color: rgba(255, 250, 219, 0.486);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin-top: 0px;
}

p, label {
    color: rgba(255, 250, 219, 0.548);
    text-align: center;
    line-height: 20px;
    font-size: 14px;
}

.heading-div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    grid-area: heading-div;
}

.logo, .search, .dark-mode {
    align-self: center;
}

.search button {
    background-color: #231f20;
    border: none;
}

.input-div {
    display: flex;
}

#theme-toggle {
    background-image: url('images/svgs/dark-mode.svg');
    height: 52px;
    width: 52px;
    background-repeat: no-repeat;
}

/* style for custom search-text start */

#search-item {
    
    
    font-family: 'Quicksand', sans-serif;
    width: 350px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('images/svgs/search.svg');
    background-position: 10px 10px; 
    padding: 12px 20px 16px 60px;
    background-repeat: no-repeat;
    transition: 0.5s;
    outline: none;
}

#search-item:focus {
    border: 3px solid #2f88ff;
}



/* style for custom search-text end */


.filter-div {
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;

    grid-area: filter-div;
}

.filter-div a {
    text-decoration: none;
    color: rgba(255, 250, 219, 0.678);
    
}


.filter-div h4 {
    text-decoration: none;
    color: rgba(255, 250, 219, 0.678);
    border-bottom: 5px solid #231f20;
}

.filter-div h4:hover {
    color: rgb(255, 197, 36);
    border-bottom: 5px solid rgb(255, 197, 36);
}


.filter-div h4::after, .filter-div h4:focus {
    color: rgb(255, 197, 36);
    border-bottom: 5px solid rgb(255, 197, 36);
}


.books-div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 50px;
    grid-auto-rows: auto;
    grid-area: books-div;

}

.book {
    width: 25vw;
    background-color: #413f40;
    border-radius: 15px;
    display: flex;
    justify-content: center;
}

.image-div {
    display: flex;
    white-space: initial;
    padding: 20px;
    flex-direction: column;
}

.read-div {
    align-self: center;
    margin: 20px 0px 20px -40px;
}

/* style for custom checkmark start */

input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    margin-left: 20px;
    height: 22px;
    width: 22px;
    background-color: #413f40;
    border: 1px solid rgb(192, 191, 191);
    border-radius: 15px;
}

.read-container:hover input ~ .checkmark {
    background-color: rgb(134, 134, 134);
}

.read-container input:checked ~ .checkmark {
    background-color: #2f88ff;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.read-container input:checked ~ .checkmark:after {
    display: block;
}

.read-container .checkmark:after {
    left: 8px;
    top: 4px;
    width: 4px;
    height: 8px;
    border: solid rgb(247, 247, 247);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* style for custom checkmark end */

.notes-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}

.notes-btn, .add-notes-btn {
    align-self: center;
}

.notes-div button {
    background-color: orange;
    border: none;
    border-radius: 50px;
    padding: 15px;
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    font-weight: 500;
    width: 120px;
}

.notes-div button:hover {
    background-color: rgb(255, 219, 122);
}

.notes-div input {
    margin: 10px;
}

/* for notes */

form {
    width: 50%;
}
  
.hide {
    display: none;
}

.show {
    display: block;
}

.note-input {
    font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    border: 3px solid #ccc;
    transition: 0.5s;
    outline: none;
}

/* for notes */


.pages-div {
    align-self: center;
}

.fav-svg-div {
    align-self: center;
}

.fav-btn {
    border: none;
    background-color:#231f20;
    border-radius: 70px;
}

.fav-btn:hover {
    background-color:#575656;
}

.fav button {
    background-color: orange;
}


.add-book-div {
    display: flex;
    position:fixed;
    justify-content: center;
    margin: 50px;
    top: 85%;
    left: 80%;
    grid-area: add-book-div;
}

.add-book-div label {
    color: aliceblue;
    font-weight: 600;
    font-size: 32px;
}

/* style for custom form input */

.add-book-div input {
    color: rgb(22, 22, 22);
    font-weight: 500;
    font-size: 24px;
    width: 400px;   
    font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: white;
    /* padding: 12px 20px 16px 60px; */
    border: 3px solid #ccc;
    transition: 0.5s;
    outline: none;
}

.add-book-div input:focus {
    border: 3px solid #ff932e;
}

/* style for custom form input */


.add-read-div, .label-div {
    align-self: center;
    padding: 40px 0px 5px 0px;
}

.add-read-div {
    padding: 40px 40px 5px 0px;    

}  

.spacing {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#add-book {
    cursor: pointer;
    background: none;
    border: none;
    border-radius: 50px;
}

#remove-form {
    position: absolute;
    top: 5%;
    left: 85%;
}

#remove-form-btn {
    background: none;
    border: none;
    cursor: pointer;
}

#form-div {
    padding: 30px;
    justify-content: center;
    position:fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #016faf98;
    backdrop-filter: blur(30px);
    border-radius: 20px;
    height: 600px;
    width: 650px;
}

.noShow {
    display: none;
}

.showIt {
    display: flex;
    position: fixed;
}

#form-ele {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-bg, .form-sbmt {
    align-self: center;
}

.form-sbmt button {
    border: none;
    color: rgb(22, 22, 22);
    font-weight: 500;
    font-size: 32px;
    border-radius: 50px;
    padding: 10px 0px;
    width: 200px;
    margin: 30px 0px 40px 0px;
    font-family: 'Quicksand', sans-serif;
    background-color: orange;
}


.logo img {
    width: 80px;
    border-radius: 50px;
}

.book-cover {
    width: 10vw;
    align-self: center;
    border-radius: 10px;
}

.fav-svg {
    width: 48px;
}

.add-book-div img {
    width: 80px;
}

#remove-form-btn img {
    width: 40px;
}

